/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  user-select: none;
  overflow-x: auto; /* Hace que la tabla sea desplazable horizontalmente en pantallas pequeñas */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilos para los encabezados de la tabla */
th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilos para las filas al pasar el ratón sobre ellas */
tr:hover {
  background-color: #e0e0e0;
}
