.card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    margin-left: 200px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
   flex-direction: column;
   text-align: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .front-content .heading1 {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(#0f57a9, #0d2344);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 20px;
    padding: 5px;
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#0f57a9, #0d2344);
    color: #e8e8e8;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
    margin: 20px;
  }

  .card .front-content .tempLora {
    font-size: 72px;
    font-weight: 700;
    margin: 40px;
    opacity: 1;
    background: linear-gradient(#0f57a9, #0d2344);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card .content .humLora {
    font-size: 72px;
    font-weight: 600;
    margin: 20px;
    color:white;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateX(20%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  
  .card-container2 {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    margin-right: 200px;
  }
  
  .card2 {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card2 .front-content2 {
    width: 100%;
    height: 100%;
    display: flex;
   flex-direction: column;
   text-align: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card2 .front-content2 .heading2 {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(#0f57a9, #0d2344);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 20px;
    padding: 5px;
  }
  
  .card2 .content2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#0f57a9, #0d2344);
    color: #e8e8e8;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card2 .content2 .heading22 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px;
  }

  .card2 .front-content2 .tempwifi {
    font-size: 72px;
    font-weight: 700;
    margin: 40px;
    opacity: 1;
    background: linear-gradient(#10417c, #0d2344);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card2 .content2 .humwifi {
    font-size: 72px;
    font-weight: 600;
    margin: 20px;
    color:white;
  }
  
  .card2:hover .content2 {
    transform: translateY(0);
  }
  
  .card2:hover .front-content2 {
    transform: translateX(20%);
  }
  
  .card2:hover .front-content2 p {
    opacity: 0;
  }

  .Home{
    display: flex;
    flex-direction: column;
    user-select: none;
  }
  
  .graficos{
    display: flex;
    justify-content: space-between;
  }

  .wifi-graficos,
.lora-graficos {
  /* Estilos de los contenedores de gráficos */
  width: calc(50% - 10px); /* 50% del ancho con espacio entre ellos */
  margin-right: 10px; /* Espacio entre los gráficos */
}

.wifi-tit,
.lora-tit {
  text-align: center;
  font-size: 30px;
  color: #133867;
}

.cards{
  display: flex;
  justify-content: space-between;
  /* Esto colocará las tarjetas uno al lado del otro */
  margin-bottom: 20px;
}
  