
:root {
  --primary: linear-gradient(#0d2344,#10417c);
}
h1,h2,h3 {
  margin: 0;
}
body {
  margin: 0;
}
nav {
  background: var(--primary);
  padding: 10px 10px;
  text-align: center;
  user-select: none;
  vertical-align: center;
}
.nav  {
  color: #ffffff;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  margin-right: 5.5%;
}
nav h1 {
  color: #ffffff;
  font-family: 'Cairo Play';
  font-size: 40px;
  user-select: none;
}
@media (max-width: 768px) {
  /* Oculta el elemento de texto */
  nav h1 {
    height : 0px;
  }
}

.nav :hover{
  transform: scale(2);
  color: #86bbf3;
  transition: all 0.3s;
}

img{
  width: 70px;
  float: left;
  margin: 20px;
}

.iconos{
  margin-right: 180px;
}


